
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <title></title>
    </head>
    <body>

        <div id="container">
            <div class="header">
                <div class="topo_header">
                    <a href="#"><img class="logo" src="./media/imagens/logo v2 v2.png"> </a>
                    <a href="#"><img class="icon" src="./media/imagens/user-profile-icon.svg"> </a>
                </div>
                <div class="baixo_header">
                </div>
            </div>
    
            <div class="menu_header">
                <table>
                    <tr>
                        <td> Tênis</td>
                        <td class="linha_vertical">	</td>
                        <td> Roupas</td>
                        <td class="linha_vertical">	</td>
                        <td> Acessórios</td>
                    </tr>	
                </table>
            </div>
    
            <div class="produtos_tela_principal">
                <span class="lancamentos">Lançamentos</span>
            </div>	

        <div class="itens">
            
            


            <div href="#" class="col-4 caixa">
                <a class="aCaixa" href="#">
                <div class="item">
                    <img class="tenis1" src="./media/imagens/tenis1.webp">
                    <img class="tenis2" src="./media/imagens/tenis2.webp">
                </div>
                
                <span class="tituloTenis">Tenis Beje</span>  <br/> 
                
                <div class="preco">
                <p class="valor">R$ 130,00</p>
                <p class="parcela">Ou em 10x de R$ 13,00</p>   
                </div>  

                
                <br/>
            
            <div class="olhadinha">
                <span class="txtOlhadinha">olhadinha</span>
            </div>
            </a>
            </div>

            <div href="#" class="col-4 caixa">
                <a class="aCaixa" href="#">
                <div class="item">
                    <img class="tenis1" src="./media/imagens/tenis1.webp">
                    <img class="tenis2" src="./media/imagens/tenis2.webp">
                </div>
                
                <span class="tituloTenis">Tenis Beje</span>  <br/> 
                
                <div class="preco">
                <p class="valor">R$ 130,00</p>
                <p class="parcela">Ou em 10x de R$ 13,00</p>   
                </div>  

                
                <br/>
            
            <div class="olhadinha">
                <span class="txtOlhadinha">olhadinha</span>
            </div>
            </a>
            </div>

            <div href="#" class="col-4 caixa">
                <a class="aCaixa" href="#">
                <div class="item">
                    <img class="tenis1" src="./media/imagens/tenis1.webp">
                    <img class="tenis2" src="./media/imagens/tenis2.webp">
                </div>
                
                <span class="tituloTenis">Tenis Beje</span>  <br/> 
                
                <div class="preco">
                <p class="valor">R$ 130,00</p>
                <p class="parcela">Ou em 10x de R$ 13,00</p>   
                </div>  

                
                <br/>
            
            <div class="olhadinha">
                <span class="txtOlhadinha">olhadinha</span>
            </div>
            </a>
            </div>

            <div href="#" class="col-4 caixa">
                <a class="aCaixa" href="#">
                <div class="item">
                    <img class="tenis1" src="./media/imagens/tenis1.webp">
                    <img class="tenis2" src="./media/imagens/tenis2.webp">
                </div>
                
                <span class="tituloTenis">Tenis Beje</span>  <br/> 
                
                <div class="preco">
                <p class="valor">R$ 130,00</p>
                <p class="parcela">Ou em 10x de R$ 13,00</p>   
                </div>  

                
                <br/>
            
            <div class="olhadinha">
                <span class="txtOlhadinha">olhadinha</span>
            </div>
            </a>
            </div>

            <div href="#" class="col-4 caixa">
                <a class="aCaixa" href="#">
                <div class="item">
                    <img class="tenis1" src="./media/imagens/tenis1.webp">
                    <img class="tenis2" src="./media/imagens/tenis2.webp">
                </div>
                
                <span class="tituloTenis">Tenis Beje</span>  <br/> 
                
                <div class="preco">
                <p class="valor">R$ 130,00</p>
                <p class="parcela">Ou em 10x de R$ 13,00</p>   
                </div>  

                
                <br/>
            
            <div class="olhadinha">
                <span class="txtOlhadinha">olhadinha</span>
            </div>
            </a>
            </div>

            <div href="#" class="col-4 caixa">
                <a class="aCaixa" href="#">
                <div class="item">
                    <img class="tenis1" src="./media/imagens/tenis1.webp">
                    <img class="tenis2" src="./media/imagens/tenis2.webp">
                </div>
                
                <span class="tituloTenis">Tenis Beje</span>  <br/> 
                
                <div class="preco">
                <p class="valor">R$ 130,00</p>
                <p class="parcela">Ou em 10x de R$ 13,00</p>   
                </div>  

                
                <br/>
            
            <div class="olhadinha">
                <span class="txtOlhadinha">olhadinha</span>
            </div>
            </a>
            </div>




        </div>

    </body>
    </html>